@import "tailwindcss";

@theme inline {
  --color-roglio-red: #cc0000;
  --color-roglio-blue: #073763;
  --color-roglio-white: #ffffff;
  --color-primary: #2563eb;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-roglio-white);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
